In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\adi4a\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\adi4a\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import mysql.connector

In [21]:
def connectToDatabase(host,user,password,database):
    connector = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    return connector

In [22]:
connection = connectToDatabase("localhost","root","root","c361")

In [23]:
cursor = connection.cursor()

In [24]:
create_table = "create table if not exists example_table(id int primary key auto_increment, name varchar(255), age int)"

In [25]:
try:
    cursor.execute(create_table)
except Exception as e:
    print(e)
    print("Unsuccessful connection to database")

In [26]:
insert_data = "insert into example_table(name,age) values(%s,%s)"

In [33]:
cursor.execute(insert_data,["John",26])

In [34]:
connection.commit()

In [35]:
select_data = "select * from example_table"

In [36]:
cursor.execute(select_data)
for i in cursor.fetchall():
    print(i)

(2, 'John', 25)
(3, 'John', 26)

In [37]:
cursor.close()
connection.close()