In [14]:
list1 = [2]*100

In [3]:
list2 = list1.copy()

In [15]:
while list1:
    list2.append(list1.pop()**2)

In [16]:
print(list2[-10:-1])

[4, 4, 4, 4, 4, 4, 4, 4, 4]

In [4]:
a = [1,2,3]
b = [4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [5]:
# Two lists cannot be multiplied

In [6]:
print(3 in a)

True

In [8]:
min(a)

1

In [9]:
max(a)

3

In [10]:
# tuples can be added
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [11]:
a = a+b

In [12]:
a

(1, 2, 3, 4, 5, 6)

In [13]:
test = """
This is a test
of multi-line strings
in Python.
"""

test2 = "This is a test of \"Viking\" in Python"

print(test)
print(test2)

This is a test
of multi-line strings
in Python.

This is a test of "Viking" in Python

In [ ]:
# \\is used inside strings to use speacial characters

In [15]:
name = "Aditya"
print(f"My name is {name}")

My name is Aditya

In [16]:
num = 25
for i in range(1,11):
    print(f"Table for {num}*{i} = {num*i}")

Table for 25*1 = 25
Table for 25*2 = 50
Table for 25*3 = 75
Table for 25*4 = 100
Table for 25*5 = 125
Table for 25*6 = 150
Table for 25*7 = 175
Table for 25*8 = 200
Table for 25*9 = 225
Table for 25*10 = 250

In [18]:
s = {x:(lambda x:x*x)(x) for x in range(1,10)}

In [19]:
s

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [20]:
# python allows variables to start with underscore
__a = 10